.mainpage{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    color: $dark-grey;
    background-color: $light-grey;
    z-index: 2;
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.35s both;
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.35s both;
}

  