.sqthree {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 0;
    animation: scale-in-hor-center 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1.75s both;
   -webkit-animation: scale-in-hor-center 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1.75s both;
  }
  
  @-webkit-keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }

    
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }