// Colors
$light-grey: #f5f5f5;
$medium-grey: #afafaf;
$dark-grey: #5f5f5f;
$darkest-grey: #3a3a3a;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$desktop-breakpoint: 45rem;
